In [8]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [33]:
df = pd.read_csv('CreditCardData.csv')

In [34]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  float64
 14  Total_Revolving_Bal       10127 non-null  int64
 15  Avg_Open_To_Buy           10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 20  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(10), object(6)
memory usage: 1.6+ MB

In [36]:
encoder  = LabelEncoder()

In [37]:
df['Attrition_Flag'] = encoder.fit_transform(df['Attrition_Flag'])
df["Education_Level"] = encoder.fit_transform(df['Education_Level'])
df["Gender"] = encoder.fit_transform(df["Gender"])
df["Marital_Status"] = encoder.fit_transform(df["Marital_Status"])
df['Income_Category'] = encoder.fit_transform(df['Income_Category'])
df['Card_Category'] = encoder.fit_transform(df['Card_Category'])

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  int32
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  int32
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  int32
 6   Marital_Status            10127 non-null  int32
 7   Income_Category           10127 non-null  int32
 8   Card_Category             10127 non-null  int32
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  float64
 14  Total_Revolving_Bal       10127 non-null  int64
 15  Avg_Open_To_Buy           10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 20  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int32(6), int64(10)
memory usage: 1.4 MB

In [43]:
features = ['Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio']
target = ['Total_Trans_Amt']

In [44]:
X= df[features]
y=df[target]

In [45]:
X

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,1,45,1,3,3,1,2,0,39,5,1,3,12691.0,777,11914.0,1.335,42,1.625,0.061
1,1,49,0,5,2,2,4,0,44,6,1,2,8256.0,864,7392.0,1.541,33,3.714,0.105
2,1,51,1,3,2,1,3,0,36,4,1,0,3418.0,0,3418.0,2.594,20,2.333,0.000
3,1,40,0,4,3,3,4,0,34,3,4,1,3313.0,2517,796.0,1.405,20,2.333,0.760
4,1,40,1,3,5,1,2,0,21,5,1,0,4716.0,0,4716.0,2.175,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,1,50,1,2,2,2,1,0,40,3,2,3,4003.0,1851,2152.0,0.703,117,0.857,0.462
10123,0,41,1,2,6,0,1,0,25,4,2,3,4277.0,2186,2091.0,0.804,69,0.683,0.511
10124,0,44,0,1,3,1,4,0,36,5,3,4,5409.0,0,5409.0,0.819,60,0.818,0.000
10125,0,30,1,2,2,3,1,0,36,4,3,3,5281.0,0,5281.0,0.535,62,0.722,0.000
10126,0,43,0,2,2,1,4,3,25,6,2,4,10388.0,1961,8427.0,0.703,61,0.649,0.189

In [46]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)

In [47]:
X_train.shape,y_train.shape,X_test.shape,y_test.shape

((7595, 19), (7595, 1), (2532, 19), (2532, 1))

In [48]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [49]:
from sklearn import metrics

def train_test(X_train, X_test, y_train, y_test, param_grid, reg):
    reg.fit(X_train, y_train)

    print("*** Parameter estimation results: ")
    print(reg.cv_results_)
    print()

    print("*** Grid scores: ")
    means = reg.cv_results_['mean_test_score']
    stds = reg.cv_results_['std_test_score']
    params = reg.cv_results_['params']

    for mean, std, param in zip(means, stds, params):
        print(f"{round(mean, 3)} (+/-{round(std*2, 3)}) for {param}")
    print()

    print("*** Highest R^2 score: ")
    print(f"{round(means.max(), 3)}")
    print()

    print("*** Best parameters set found: ")
    print(reg.best_params_)
    print()

    print("*** Final R^2 score: ")
    y_true, y_pred = y_test, reg.predict(X_test)
    r2_score = round(metrics.r2_score(y_true, y_pred), 3)
    print(r2_score)

    return reg, r2_score

In [51]:
cv = 5
summary = dict()

In [52]:
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression

param_grid = [{"fit_intercept": [True, False]}]
lr = GridSearchCV(LinearRegression(), param_grid, cv=cv)
lr, score = train_test(X_train_scaled, X_test_scaled, y_train, y_test, param_grid, lr)

*** Parameter estimation results:
{'mean_fit_time': array([0.0184875 , 0.01734061]), 'std_fit_time': array([0.01084953, 0.00210366]), 'mean_score_time': array([0.00186605, 0.001894  ]), 'std_score_time': array([0.00231814, 0.0023477 ]), 'param_fit_intercept': masked_array(data=[True, False],
             mask=[False, False],
       fill_value='?',
            dtype=object), 'params': [{'fit_intercept': True}, {'fit_intercept': False}], 'split0_test_score': array([ 0.70795976, -0.97188398]), 'split1_test_score': array([ 0.70548776, -0.98220217]), 'split2_test_score': array([ 0.71869073, -0.90312886]), 'split3_test_score': array([ 0.69968746, -1.06972242]), 'split4_test_score': array([ 0.71802627, -0.89944025]), 'mean_test_score': array([ 0.7099704 , -0.96527554]), 'std_test_score': array([0.00735958, 0.06234714]), 'rank_test_score': array([1, 2])}

*** Grid scores:
0.71 (+/-0.015) for {'fit_intercept': True}
-0.965 (+/-0.125) for {'fit_intercept': False}

*** Highest R^2 score:
0.71

*** Best parameters set found:
{'fit_intercept': True}

*** Final R^2 score:
0.711

In [53]:
lr.best_estimator_.coef_

array([[-5.10710724e+02,  5.57720658e+01,  1.57295401e+02,
        -8.49059048e+01,  5.39367748e+01, -7.86684207e+01,
        -2.46316854e+00,  1.31921025e+02, -5.49084161e+01,
        -4.02527023e+02, -6.21223507e+01, -3.29749112e+01,
         4.34068796e+01,  3.97703885e+02,  7.59378935e+00,
         1.58084481e+02,  2.80726066e+03,  6.38510892e+01,
        -3.46306187e+02]])

In [54]:
import numpy as np

for feature, coef in zip(features, lr.best_estimator_.coef_[0]):
    print(f"{feature}: {round(coef, 3)}")

Attrition_Flag: -510.711
Customer_Age: 55.772
Gender: 157.295
Dependent_count: -84.906
Education_Level: 53.937
Marital_Status: -78.668
Income_Category: -2.463
Card_Category: 131.921
Months_on_book: -54.908
Total_Relationship_Count: -402.527
Months_Inactive_12_mon: -62.122
Contacts_Count_12_mon: -32.975
Credit_Limit: 43.407
Total_Revolving_Bal: 397.704
Avg_Open_To_Buy: 7.594
Total_Amt_Chng_Q4_Q1: 158.084
Total_Trans_Ct: 2807.261
Total_Ct_Chng_Q4_Q1: 63.851
Avg_Utilization_Ratio: -346.306